[submodule "webapp/src/main/webapp"]
	path = webapp/src/main/webapp
	url = https://github.com/legumeinfo/mine-webapp
[submodule "libs"]
	path = libs
	url = https://github.com/legumeinfo/mine-libs
[submodule "webapp/src/main/resources"]
	path = webapp/src/main/resources
	url = https://github.com/legumeinfo/mine-webapp-resources
[submodule "webapp/src/main/java"]
	path = webapp/src/main/java
	url = https://github.com/legumeinfo/mine-webapp-java
[submodule "dbmodel/resources"]
	path = dbmodel/resources
	url = https://github.com/legumeinfo/mine-dbmodel-resources
